/*game CSS */

canvas {
  border: 10px solid rgb(143, 56, 95);
  border-radius: 20px;
  background-color: #f1f1f1;
  background-image: url(images/game-image.png);
  background-size: cover; 
  margin-top: 50px;     
  }
  .game-text{
   text-align: center;
    font-size: 18px;
  }
  .game-controls{
    margin: 60px, auto;
    text-align: center;
  }
  button{
    color: white;
    font-size: 30px;
    font-family: "Playwrite GB S", cursive;
    background-color: rgb(185, 61, 230);
    height: 60px;
    width: 600px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  button:hover{
    background-color: orangered;
  }
  button:active{
    opacity: 0.5;
  }